html, body {
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#particles-js{
  background-image: url('img/bg.jpg');
  height: 100vh;
  position:fixed;
  width: 100%;
  z-index: -100;
  background-size: contain;
}
